
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header Styles */
.header {
  min-width: 800px;
  background: #b3a2af;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #339977, #a6ff00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #339977, #a6ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:0px;
}

#trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid rgba(1, 1, 1, .4);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top:-53px;
  width: 700px;
  position: relative;
  transition: all 0.7s ease;
  padding-left:7%;
}

#trapezoid a, .subnavbtn {
  -webkit-transform: rotateX(180deg);
   transform: rotateX(180deg);
 }

 .sub-home {
  display: none;
  position: absolute;
  right: 0;
  left: 0; 

  z-index: 1;   
  transform: perspective(-10px);
}

#trapezoid::hoover .sub-home {
  justify-content: center;
  margin-top: 53px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 100px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: centre;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 25px;
  background-color: inherit;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s;
}

.navbar a:hover, .subnav:hover .suubnavbtn {
  background: #8CA6DB;
  color: black;
  border-radius: 5px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: perspective(-10px);
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subvav-content a:hover {
  background: #B993D6;
  color: black;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
}



/*Home section*/

.home {
    background: linear-gradient(45deg, #000000, #121213, #181a1d);
    color: white; /* Set text color to white for better readability */
    padding: 20px; /* Add padding for content within the section */
  }
.gradient-text {
  background-image: linear-gradient(90deg, green, yellow);
  background-clip: text;
  color: transparent;
  animation: fadeIn 3s ease;
  display: inline-block;
}



.gradient-text2 {
  background-image: linear-gradient(90deg, rgb(126, 128, 0), rgb(255, 174, 0));
  background-clip: text;
  color: transparent;
  animation: fadeIn 3s ease;
  display: inline-block;
}
.container.home-content {
  max-width: 800px;
  padding: 20% 0;
  position: relative;
  text-align: center;
}

.container.home-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container.home-content h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
/*
.animated-background {
  background: #222222;
  overflow: hidden;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: linear-gradient(#303030, #757575);
  z-index: 2;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #1cd99d;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #f5f5f5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}*/

.typed::after {
  content: attr(data-typed-items);
  display: inline-block;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.scroll-down {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  animation: scaleButton 2s infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

/* Animation to reduce button size */
@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    padding: 10px;
  }

  .home-content h1 {
    font-size: 1.5rem;
  }

  .home-content h2 {
    font-size: 1rem;
  }
}

/*Colored background*/
@keyframes unicorn-slide {
      0% { background-position: 0% 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0% 50% }
   }

    @-webkit-keyframes unicorn-slide {
      0% { background-position: 0% 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0% 50% }
   }

/*About Section*/

/*.main-grid {
  background: linear-gradient(318deg, #ff0062, #ffff00, #00ff00, #00ffff, #0000ff);
  background-size: 1000% 1000%;
  -webkit-animation: Coolgradient 41s linear infinite;
  -moz-animation: Coolgradient 41s linear infinite;
  -o-animation: Coolgradient 41s linear infinite;
  animation: Coolgradient 41s linear infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
}*/


.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.about-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 28x;
    margin-bottom: 20px;
    font-weight: bold;
}


.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
 }

 .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}
.main-image {
    width: 40%;
    height: auto;
    object-fit: left;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .page-title {
        font-size: 24px;
    }

}

/*
/*Responsive 
@media (max-width: 768px) {
  .main-grid {
    flex-direction: column; //Stack items vertically on smaller screens 
    text-align: center;
  }

  .about-content {
    max-width: 100%; // Full width for smaller screens
  }

  .image-column {
    order: -1; // Move the image above text on smaller screens 
  }

  .main-text {
    margin-top: 1em; // Reduce top margin on smaller screens 
  }
}

@-webkit-keyframes Coolgradient {
   0%{background-position:5% 0%}
   50%{background-position:96% 100%}
   100%{background-position:5% 0%}
}
@-moz-keyframes Coolgradient {
   0%{background-position:5% 0%}
   50%{background-position:96% 100%}
   100%{background-position:5% 0%}
}
@-o-keyframes Coolgradient {
   0%{background-position:5% 0%}
   50%{background-position:96% 100%}
   100%{background-position:5% 0%}
}
@keyframes Coolgradient {
   0%{background-position:5% 0%}
   50%{background-position:96% 100%}
   100%{background-position:5% 0%}
}*/

/*Our work section*/
.work p {
  text-align: center;
}

.work h2 {
  font-size: 24px;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
}

.project img {
  max-width: 100%;
  height: auto;
}

project p {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .work h2 {
    font-size: 20px;
  }

  .project {
    padding: 10px;
  }

  .project h3 {
    font-size: 16px;
  }

  .project p {
    font-size: 14px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

/*Gallery section*/
/* Apply a background color to the entire section */
.gallery-us {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

/* Style the gallery section heading */
.gallery {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

/* Style the gallery container */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;
}

/* Style each gallery item */
.gallery-item {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

/* Style the images within the gallery items */
.gallery-item img {
  max-width: 100%;
  height: auto;
}

/* Style the description text */
.gallery-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    width: 80%;
  }
}



/*Contact Section*/
.contact-page {
   padding: 20px;
    text-align: center;
  }


.landing_page * {
    font-family: Nunito, sans-serif;
  }

  .landing_page .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }

  .landing_page .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }

  .landing_page .responsive-cell-block {
    min-height: 75px;
  }

  .landing_page .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    position: relative;
  }

  .landing_page .form-box {
    background-color: #151617;
    color: white;
    padding-top: 35px;
    padding-right: 33px;
    padding-bottom: 35px;
    padding-left: 33px;
    max-width: 506px;
  }

  .landing_page .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }

  .landing_page .text-blk.contactus-subhead {
    color: #d4d4d4;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
  }

  .landing_page .input {
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    padding-top: 1px;
    padding-right: 125px;
    padding-bottom: 1px;
    padding-left: 22.5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #212223;
    padding: 1px 12.5px 1px 22.5px;
  }

  .landing_page .textinput {
    width: 100%;
    height: 233px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 18px;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    background-color: #212223;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .landing_page .submit-btn {
    width: 100%;
    height: 56px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #146132;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #146132;
    border-right-color: #146132;
    border-bottom-color: #146132;
    border-left-color: #146132;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
    display: flex;
    justify-content: center;
  }

  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
  }

  .landing_page .text-blk.section-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 420px;
    font-size: 18px;
    color: #b6b6b6;
  }

  .landing_page .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    max-width: 450px;
  }

  .landing_page .icons-container {
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
  }

  .landing_page .img {
    width: 31px;
    height: 31px;
  }

  .landing_page .responsive-container-block.big-container {
    background-color: black;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    position: relative;
  }

  .landing_page .bg-img {
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
      justify-content: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }

    .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }

    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
      margin: 0 0 40px 0;
    }
  }

  @media (max-width: 500px) {
    .landing_page .text-blk.section-head {
      font-size: 26px;
      line-height: 40px;
    }

    .landing_page .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }

    .landing_page .text-blk.section-subhead {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
      font-size: 16px;
    }

    .landing_page .form-box {
      padding-top: 30px;
      padding-right: 15px;
      padding-bottom: 30px;
      padding-left: 15px;
    }

    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
      margin: 0 0 30px 0;
    }

    .landing_page .input {
      height: 45px;
    }

    .landing_page .text-blk.contactus-head {
      font-size: 24px;
      line-height: 34px;
    }
  }

  /*Footer section*/
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   }
   
   .footer-content {
    max-width: 1200px;
    margin: 0 auto;
   }
   
   .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
   }
   
   .footer-links li {
    display: inline;
    margin-right: 10px;
   }
   
   .footer-links a {
    color: #fff;
    text-decoration: none;
   }
   
   .footer-links a:hover {
    text-decoration: underline;
   }
   
   /* Responsive styles */
   
   @media screen and (max-width: 768px) {
    footer {
       padding: 10px;
    }
   }
   

  /* Add custom CSS for responsive layout */
.sponsorship-section,
.women-finance-section {
    padding: 20px;
}

.sponsorship-section img,
.women-finance-section img {
    max-width: 100%;
    height: auto;
}

.sponsorship-section .col-md-6,
.women-finance-section .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .sponsorship-section .col-md-6,
    .women-finance-section .col-md-6 {
        flex: 0 0 50%;
    }
}

